<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>publish-hhuCommunity</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/jquery-3.7.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" type="application/javascript" ></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>new</h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">title:</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="title" th:value="${title}">
                </div>
                <div class="form-group">
                    <label for="description">description</label>
                    <textarea id="description" name="description" th:text="${description}" cols="30" rows="10" class="form-control" ></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">tag</label>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="tag 以逗号分隔" th:value="${tag}">
                </div>
                <div class="alert alert-danger" th:text="${error}" th:if = "${error != null}"></div>
                <button type="submit" class="btn btn-success btn-publish" >publish</button>
            </form>


        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>Guidelines for Posting a Question</h3>
            • Question Title: Please use concise language to describe your posted question, within 25 characters. <br>
            • Additional Details: Provide detailed information about your question, ensuring clear and intuitive description, and include relevant resources if possible. <br>
            • Select Tags: Choose one or more appropriate tags, separated by commas, with each tag not exceeding 10 characters.
        </div>
    </div>
</div>

</body>
</html>